<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Hi this is my proyect {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="https://dl.dropboxusercontent.com/s/rtxv91lk9llnkzp/mylog.png?dl=0">
  <!--<img width="300" alt="Angular Logo" src="https://dl.dropboxusercontent.com/s/aw4j8p1nkurlgi7/mylog1.png?dl=0">-->
  <!--<img width="300" alt="Angular Logo" src="https://dl.dropboxusercontent.com/s/cd5fl3j0qvffl6f/mylog2.png?dl=0">-->
</div>
<h2>I am Arguelles Macuixtle Marco Antonio: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>
